body{
    background: url(imgs/clouds.jpg); 
    background-size: 220vh;
    background-repeat: no-repeat;
    padding: 20px;
}
.log-container{
    /* background-color: aqua; */
    padding: 50px;
    top:40px; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}


.itemCardx{
    width: 400px;
    height: auto;
    margin-bottom: 15px;
    background: rgba(250, 250, 250, 0.5);
    padding: 20px;
    border-radius: 25px;
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

body{
    background: url(imgs/clouds.jpg); 
    background-size: cover;
    padding: 20px;
}
.container{
    text-align: center;
}

.container2{
    background-size: cover;
    /* position:relative;  */
    margin-top: 70px; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 20px;
}

.title{
    margin-top: 60px;
}

@media(max-width: 1400px){
    .container2{
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly;
        justify-items: center;
        align-content: space-evenly;
        align-items: center;
    }
}

@media(max-width: 1000px){
    .container2{
        grid-template-columns: 1fr;
        justify-content: space-evenly;
        justify-items: center;
        align-content: space-evenly;
        align-items: center;
    }
}

.button1{
    display: flex;
    float: left;   
}

.button2{
    display: flex;
    float: right;
    margin: 5px;
    
}
.button3{
    display: flex;
    float: right;
    margin: 5px;
}

/* h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-style: normal;
}

h4{
    text-align: center;
    margin-top: 25px;
} */
.itemCard{
    width: 400px;
    height: auto;
    margin-bottom: 15px;
    background: rgba(250, 250, 250, 0.5);
    padding: 20px;
    border-radius: 25px;
}

img{
    border-radius: 25%;
}