*{
    margin: 2px;
    padding: 2px;
    /* outline: none;
    box-sizing: border-box; */
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
	background: linear-gradient(-135deg, #c850c0, #4158d0);
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 10px;
	margin-right: 50px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 15px;
	border: 1px solid transparent;
	transition: 0.5s ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}

.backToRating:hover{
    background-color: #fff;
	color: #000;
}

.container{
    width: 500px;
    background-color:none;
    box-shadow: 0 0 20px 0 #999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.form{
    margin: 35px;
}

.input-field{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left:10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}

.textatra-field{
    height: 150px;
    padding-top: 10px;
}

.btn{
    border-radius: 20px;
    color: #fff;
    margin-top: 18px;
    padding: 10px;
    background-color: #47c35a;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
/* form{
    display: block;
    margin: auto;
    text-align: center;
    border: 3px solid green;
}

.wrapper{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 450px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0x 0x 10px rgba(0,0,0,0.1);

}

.wrapper .input-data{
    height:40px;
    width: 100%;
    position: relative;
}

.wrapper .input-data input{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
}

.wrapper .input-data label{
    position: absolute;
    bottom: 10px;
    left: 0;
    color:grey
} */

