head{
    text-align: center;
}
body{
    min-height: 100vh;
    background-image: url("imgs/clouds.jpg");
}
.container{
    text-align: center;
    /* background: url(imgs/clouds.jpg);  */
    /* background-size: cover; */
    /* position:relative;  */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

.button1{
    margin-left: 0px;
    display: flex;
}

.button2{
    margin-left: 1050px;
    display: flex;
}
.button3{
    margin-left: 10px;
}

.desc{
    font: bold;
    color: white;
    font-size: 50px;
}

.card{
    background-color: black;
    position: relative;
    top: 100px;
}

.option{
    padding: 15px;
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-style: normal;
}


.option.active{
    background: pink;
    border: 1px solid black;
    border-radius: 15px;
}

.links {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
  }

.container{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 30%; */
}

.product-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.pageTitle{
    margin-top: 80px;
}


h4{
    text-align: center;
    margin-top: 25px;
}

.row{
    border-bottom: 1px solid black;
    margin-left: 0px;;
    width: 1294px;
    height: 99px;
}

.comment-section{
    position: absolute;
    right: 150px;
    width: 500px;
    height: 10px;
}


