
.container{
    text-align: center;
    background: url(imgs/clouds.jpg); 
    background-size: cover;
    position:relative; 
    top:40px; 
  }

.button1{
    margin-left: 0px;
    display: flex;
}

.button2{
    margin-left: 1050px;
    display: flex;
}

.desc{
    font: bold;
    color: white;
    font-size: 50px;
}

.card{
    background-color: black;
    position: relative;
    top: 100px;
}

.option{
    padding: 15px;
}

.option.active{
    background: pink;
    border: 1px solid black;
    border-radius: 15px;
}

.account-container{
    min-height: 100vh;
    width: 100%;
    padding: 10%;
    background-image: url(imgs/clouds.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-size: 100%;
    text-align: center;
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-style: normal;
}
