head{
    text-align: center;
}
body{
    min-height: 100vh;
    background-image: url("imgs/clouds.jpg");
}
.log-container{
    text-align: center;
    background-size: cover;
    border: 1px solid black;
    padding: 50px;
    position:relative; 
    top:40px; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

.button1{
    padding: 15px;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    margin-top: 30px;
}

.links {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
  }

.container{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 30%; */
}

.product-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.pageTitle{
    margin-top: 15%;
}



