.container{
    text-align: center;
    background: url(../imgs/clouds.jpg);
    background-size: cover;
    position:relative; 
    top:40px; 
  }

  .button1{
    display: flex;
    float: left;   
}

.button2{
    display: flex;
    float: right;
    margin: 5px;
    
}

.desc{
    font: bold;
    color: white;
    font-size: 50px;
}

.card{
    background-color: black;
    position: relative;
    top: 100px;
} 

.option{
    padding: 15px;
}

.option.active{
    background: pink;
    border: 1px solid black;
    border-radius: 15px;
}
